tr
  td(align="center" class="fluid-image" style="background:#f8f9fb;font-size:0px;padding:18px 18px 0 18px;word-break:break-word;")
    div(style="font-family:Georgia, serif;font-size:20px;font-style:italic;line-height:27px;text-align:center;color:#2C3A81;") {{ blockGeneralTitle }}
tr
  td(align="center" class="fluid-image" style="background:#f8f9fb;font-size:0px;padding:9px 18px 9px 18px;word-break:break-word;")
    p(style="border-top:solid 1px hsl(222.4, 63%, 90.7%);font-size:1px;margin:0px auto;width:100%;")
      | &nbsp;
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px hsl(222.4, 63%, 90.7%);font-size:1px;margin:0px auto;width:460px;" role="presentation" width="460px" ><tr><td style="height:0;line-height:0;"> &nbsp;</td></tr></table><![endif]-->
tr
  td(align="left" class="fluid-image" style="background:#f8f9fb;font-size:0px;padding:0 18px 18px 18px;word-break:break-word;")
    div(style="font-family:Helvetica, sans-serif;font-size:15px;font-style:normal;line-height:20px;text-align:left;color:#2C3A81;" v-html="blockGeneralText")
tr
  td(style="font-size:0px;word-break:break-word;" class="fluid-image")
    div(style="height:24px;line-height:24px;")
