template(v-slot:render-container)
  div(style="max-width: 600px; margin: 0 auto; padding: 24px 0; background-color: #fff; border: 1px dotted #d0d0d0;")
    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%")
      tbody
        tr
          td(style="direction:ltr;font-size:0px;padding:0;text-align:center;")
            span#mso_0(style="display: block; width: 600px;")
            div(class="mj-column-per-100 mj-outlook-group-fix i-body-column" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;")
              table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                tbody
                  tr
                    td(class="fluid-padding" style="background-color:#ffffff;vertical-align:top;padding:0px 52px;")
                      div#rendered
                        table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%")
                          tbody
                            tr(v-if="selected === 'new-issue'")
                              td(align="center" class="fluid-image" style="font-size:0px;padding:16px 12px 48px 12px;word-break:break-word;")
                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;")
                                  tbody
                                    tr
                                      td(class="fluid-image" style="width:315px;")
                                        a(:href="coverImageLink" target="_blank")
                                          img(:alt="coverImageAlt" height="auto" :src="coverImageUrl" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="315")

                            tr(v-if="selected === 'advance'")
                              td(align="center" style="font-size:0px;padding:10px 25px 48px 25px;word-break:break-word;" class="fluid-image")
                                div(style="font-family:Georgia, serif;font-size:44px;font-style:italic;line-height:54px;text-align:center;color:#2C3A81;")
                                  | Advance Articles

                            tr
                              td(class="fluid-image" pardot-region="" style="font-size: 0px; padding: 0px 0px; word-break: break-word;")
                                table(v-if="showAdForm" align="right" cellpadding="0" cellspacing="0" class="image" style="border: medium; border-collapse: collapse;")
                                  tbody
                                    tr
                                      td(class="fluid-image" style="padding: 3px 0px 18px 24px; line-height: 1px;")
                                        a(:href="adImageLink" style="text-decoration: none;" target="_blank")
                                          img(align="right" :alt="adImageAlt" border="0" class="img" height="auto" :src="adImageUrl" style="margin: 0px; text-align: right;" width="180")
                                div(style="font-family: Georgia, serif; font-size: 18px; font-weight: normal; line-height: 28px; text-align: left; color: #222222;")
                                  p(style="margin: 0 0 0 0" v-html="output")
                            tr
                              td(class="fluid-image" style="padding-top:24px;padding-bottom:24px;padding-left:0;padding-right:0;")
                                table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                  tbody
                                    tr
                                      td(class="fluid-image" height="3" style="background:#E9EEFA; line-height:3px; font-size:0; mso-line-height-rule:exactly;")
                                        | &nbsp;
