template(v-slot:form)
  h1.component__title Text
  div.form-group
    label(for="input") Text (in Markdown)
    textarea(id="input" v-model="input").form-control

  div.row
    div.col-xs
      div.form-group
        div.checkbox-inline
          label(for="centerText")
            input(type="checkbox" name="centerText" v-model="centerText" )
            | Center all text

  div.row
    div.col-xs
      div.btn-group
        button(@click="handleMakeLink").btn.btn-sm.btn-default
          span.glyphicon.glyphicon-link
        button(@click="handleMakeBold").btn.btn-sm.btn-default
          span
            | B
        button(@click="handleMakeItalic").btn.btn-sm.btn-default
          span #[em I]

  include ../../includes/copy-button
