template(v-slot:render-container)
  div(style="max-width: 600px; margin: 0 auto; padding: 24px 0; background-color: #fff; border: 1px dotted #d0d0d0;")
    div#rendered
      table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%")
        tbody
          tr
            td(class="pardot-region" pardot-region="" style="font-size:0px;padding:0 36px 0 36px;word-break:break-word;")
              div(:style="divStyle" v-html="output")
